<!-- 
<ul>
    <li><a class="active" href="#home">Home</a></li>
    <li><a href="#news">News</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#about">About</a></li>
  </ul>
-->


<ul>
  <li><a routerLink="/inicio" routerLinkActive="active" ariaCurrentWhenActive="page">
    <i class="fas fa-home"></i>
  </a>
  </li>
  <li><a routerLink="/crear-tablero" routerLinkActive="active" ariaCurrentWhenActive="page">
    Crear Tablero 
    <span class="material-icons">
      library_add
      </span>
  </a></li>
  <li><a routerLink="/tableros" routerLinkActive="active" ariaCurrentWhenActive="page">
    Mis Tableros 
    <span class="material-icons">
      list_alt
      </span> 
      </a></li>
</ul>

<div *ngIf="user">
  <button mat-button [matMenuTriggerFor]="beforeMenu" style="position: fixed; right: 10px; background-color: white; padding: 16px;"> <mat-icon style="transform: scale(2);">account_circle</mat-icon> </button>
  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <button mat-menu-item>{{user.nombre}}</button>
    <button mat-menu-item>{{user.email}}</button>
    <button mat-menu-item (click)="salir()">Cerrar Sesion</button>
  </mat-menu>
</div>